/*탑버튼*/
a#MOVE_TOP_BTN {
  position: fixed;
  right: -2px;
  bottom: 40px;
  display: none;
  z-index: 999999999;
  color:#f5b233;
}


/********************************************************************* section01 메인배너/서브네비 **************************************************************************/
#section01 { position: relative;  top:68px; clear:both;}


/* 서브네비 좌측 네비명 */
.sub_navi_list {width: 100%; margin:0; padding:0; padding-left:35px; background-color: #f5b233;
                height: 50px; line-height: 50px; clear:both; position:fixed; z-index: 9999998;  }
.sub_navi_list li { list-style-type: none; display: inline-block; line-height:2em; margin-right: 20px; 
                    font-weight: bold; text-decoration: none; color:#000;}
  .sub_navi_list li:last-child {margin-right: 0; } 
.sub_navi_list li a {text-decoration: none; color:#000;}

/*서브네비 우측_최신순,조회수 등 리스트*/
.selectbox {width:100px;float:right; margin-right:60px; box-sizing: border-box;}

  .dropdown {
    width: 50px;
    margin: 0px;
  }
  
  .dropdown dd,
  .dropdown dt,
  .dropdown ul {
    margin: 0px;
    padding: 0px;
  }
  
  .dropdown dd {
    position: relative;
  }
  
  .dropdown a,
  .dropdown a:visited {
    color: #000;
    text-decoration: none;
    outline: none; 

  }
  
  .dropdown a:hover {
    color: #000;
  }
  
  .dropdown dt a:hover {
    color: #000;
  }
  
  .dropdown dt a {
    background-image: url('../images/btn_down.png') ;
    background-repeat: no-repeat; 
    background-position: 100% 50%; /* 화살표 아이콘 추가 */     
    background-size: 12px;
    background-color: #f5b233;
    display: block;
    padding-right: 10px;
    border: 1px solid #f5b233;
    width: 70px;
    height: 45px; font-weight: bold; border-bottom:none;
  }
  
  .dropdown dt a span {
    cursor: pointer;
    display: block;
    line-height: 45px;
    padding-left: 10px;
  }
  
  .dropdown dd ul {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #f5b233;
    border-top:1px solid transparent; box-sizing: border-box;
    color: #000;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    top: 0px;
    width: auto;
    min-width: 90px;
    list-style: none;
    text-align: left;
  }
  
  .dropdown span.value {
    display: none;
  }
  
  .dropdown dd ul li a {
    width: 100%; 
    padding-left: calc(1em - 3px);
    display: block;
  }
  
  .dropdown dd ul li a:hover {
    background-color: none; color:#f5b233; 
  }
  
  .dropdown img.flag {
    border: none;
    vertical-align: middle;
    padding: 11px;
  }
  
  .flagvisibility {
    display: none;
  }





/*메인배너 슬라이드*/
#s_banner_wrap {width:100%; margin: 0 ; padding: 0; height:auto; margin:auto; }
    #s_banner_wrap .bxslider > div {width: 100%; overflow: hidden; }
    #s_banner_wrap .bxslider > div > img {width: 100%; display: block; }

/** RESET AND LAYOUT  ===================================*/
.bx-wrapper {position: relative; top:50px; margin: 0 ; padding: 0;	*zoom: 1;  }
.bx-wrapper img {max-width: 100%; display: block;}

/** THEME  ===================================*/
.bx-wrapper .bx-viewport {/*fix other elements on the page moving (on Chrome)*/
              -webkit-transform: translatez(0);-moz-transform: translatez(0);-ms-transform: translatez(0);-o-transform:translatez(0);transform: translatez(0);}
.bx-wrapper .bx-viewport ul {margin: 0px; padding: 0px; }
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {position: absolute;	bottom: 0px; width: 100%;}

/* PAGER 페이지버튼*/
.bx-wrapper .bx-pager {text-align: center;color: rgba(0,0,0,0.5);  }
.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block;*zoom: 1;*display: inline;}
.bx-wrapper .bx-pager.bx-default-pager a {background: rgba(0,0,0,0.5);text-indent: -9999px;display: block;	width: 5px;height: 5px; margin: 10px 5px;	outline: 0;	
                                -moz-border-radius: 50px;-webkit-border-radius: 50px;	border-radius: 50px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover {background: #f5b233; width: 5px;height: 5px;-moz-border-radius: 50px;-webkit-border-radius: 50px;	border-radius: 50px;}
.bx-wrapper .bx-pager.bx-default-pager a.active {background: #f5b233; width: 20px;height: 5px;-moz-border-radius: 50px;-webkit-border-radius: 50px;	border-radius: 50px;}

/* DIRECTION CONTROLS (NEXT / PREV) 방향버튼*/
.bx-wrapper .bx-prev {left: 35px;	background: url(../images/btn_left.png) no-repeat 0 0;}
.bx-wrapper .bx-next {right: 35px;	background: url(../images/btn_right.png) no-repeat 0 0;}
.bx-wrapper .bx-prev:hover {background-position: 0 0;}
.bx-wrapper .bx-next:hover {background-position: 0 0;}
.bx-wrapper .bx-controls-direction a {position: absolute;top: 50%;	margin-top: -16px;outline: 0;width: 22px;height: 40px;text-indent: -9999px;z-index: 9999;}
.bx-wrapper .bx-controls-direction a.disabled {	display: none;}



/*********************************************************************** section02 위클리베스트 ****************************************************************************/
#section02 { position: relative;  top:117px; clear:both;}
#section02 h2 {text-align: center; font-size: 24px; letter-spacing: 0; height: 3em; line-height: 3em; }

.content1 {   position: absolute;   width: 100%;   height: 100%;  }
.content2 {   position: absolute;   width: 100%;   height: 100%;  }
.content3 {   position: absolute;   width: 100%;   height: 100%;  }


/*첫번째칸*/
.square1 {  position: relative;  width: 19.5%; height: auto;   float:left; margin-right:1.25%; }
.square1:after {   content: "";   display: block;   padding-bottom: 200%;  }
    .content1_box1 {width: 100%; height: 48.6%; background-color: tomato;display: inline-block; margin-bottom: 5.5%; overflow: hidden;}
        .content1_box1 img {width: 100%; display: block; }
    .content1_box2 {width: 100%; height: 48.6%; background-color: slateblue; display: inline-block; overflow: hidden;}
        .content1_box2 img {width: 100%; display: block; }

/*두번째칸(가운데 큰 네모)*/
.square2 {  position: relative; width: 39%; height: auto;   float:left; margin-right:1.25%;}
.square2:after {   content: "";  display: block;   padding-bottom: 100%;  }
    .content2_box0 {width: 100%; height: 100%; background-color: rosybrown; overflow: hidden;}
        .content2_box0 img {width: 100%; display: block; }

/*세번째칸*/
.square3 {  position: relative;  width: 39%;height: auto; float:left; }
.square3:after {   content: "";   display: block;   padding-bottom: 100%;  }
    .content3_box1_1 {width: 48.5%; height: 48.5%; background-color: #fff; margin-bottom: 3%; display: inline-block; margin-right:2.32%;}
    .content3_box1_2 {width: 48.5%; height: 48.5%; background-color: #fff; display: inline-block; }
    .content3_box2_1 {width: 48.5%; height: 48.5%; background-color: tomato;margin-bottom: 3%; display: inline-block; margin-right:2.32%; overflow: hidden;}
        .content3_box2_1 img {width: 100%; display: block; }
    .content3_box2_2 {width: 48.5%; height: 48.5%; background-color: slateblue; margin-bottom: 3%; display: inline-block; overflow: hidden;}
        .content3_box2_2 img {width: 100%; display: block; }

/*신인작가*/
.content3_box1_1 h3 { color: #557b50; height:7%;  margin-top:0;  padding:0 0 0 5%; }
.content3_box1_1 ul {/*box-sizing:border-box; border:2px solid red;*/ width:100%; height:25%; margin:0; padding:3%; border:none; box-sizing:border-box; margin-bottom:4%;}
.content3_box1_1 ul li {display: inline-block; height: 25%;  }

.content3_box1_1 ul li:first-child {float:left; width:20%; height: 100%; }
    .content3_box1_1 ul li .profile_img {width:100%; height:100%; background-color: #f1f1f1;  border:none; border-radius: 50px; box-sizing:border-box;
        background-image: url(../images/user_profile.png); background-repeat: no-repeat; background-size:100%; overflow: hidden;}
    .content3_box1_1 ul li .profile_img > img {width: 100%; height:100%; border-radius: 50px;  display: block; }

.content3_box1_1 ul li:nth-child(2) {float:left; width:60%; height: 100%; line-height: 1em; margin-left:3%;}
    .content3_box1_1 ul li .weekly_best_username {width: 9em; height:50%; line-height:1.7em; white-space: nowrap; text-overflow: ellipsis;  
                                                overflow: hidden;text-align: left; font-weight: bold; display: inline-block; margin-top:0; padding-top:0;}
    .content3_box1_1 ul li .weekly_best_userintro {width: 9em; height:50%; line-height:2em; white-space: nowrap; text-overflow: ellipsis; 
                                                overflow: hidden;text-align: left; margin-top:8px; display: inline-block;margin-top:-1.3em;}

.content3_box1_1 ul li:last-child {float:left; width:12%;height: 100%; margin-left:3%;}
.content3_box1_1 ul li i {color: #f5b233; margin-top:calc(100% - 20px);}


/*추천작가*/
.content3_box1_2 h3 { color: #ec7731; height:7%;  margin-top:0;  padding:0 0 0 5%; }
.content3_box1_2 ul {/*box-sizing:border-box; border:2px solid red;*/ width:100%; height:25%; margin:0; padding:3%; border:none; box-sizing:border-box; margin-bottom:4%;}
.content3_box1_2 ul li {display: inline-block; height: 25%;  }

.content3_box1_2 ul li:first-child {float:left; width:20%; height: 100%; }
    .content3_box1_2 ul li .profile_img {width:100%; height:100%; background-color: #f1f1f1;  border:1px solid #f1f1f1; border-radius: 50px; box-sizing:border-box;
        background-image: url(../img/user_profile.png); background-repeat: no-repeat; background-size:100%; overflow: hidden;}
    .content3_box1_2 ul li .profile_img > img {width: 100%; height:100%; border-radius: 50px;  display: block; }

.content3_box1_2 ul li:nth-child(2) {float:left; width:60%; height: 100%; line-height: 1em; margin-left:3%;}
    .content3_box1_2 ul li .weekly_best_username {width: 9em; height:50%; line-height:1.7em; white-space: nowrap; text-overflow: ellipsis;  
                                                overflow: hidden;text-align: left; font-weight: bold; display: inline-block; margin-top:0; padding-top:0;}
    .content3_box1_2 ul li .weekly_best_userintro {width: 9em; height:50%; line-height:2em; white-space: nowrap; text-overflow: ellipsis; 
                                                overflow: hidden;text-align: left; margin-top:8px; display: inline-block;margin-top:-1.3em;}

.content3_box1_2 ul li:last-child {float:left; width:12%; height: 100%; margin-left:3%; }
.content3_box1_2 ul li i {color: #f5b233; margin-top:calc(100% - 20px);}



/************************************************************************ section03 메인갤러리 *****************************************************************************/
#section03 { position: relative; clear:both; top:200px; height:auto;}

.content0 { position: absolute; margin:auto 35px; width: calc(100% - 70px);height: 70%;}

/*갤러리 부분 전체 박스*/
.square0 {  position: relative;  width: 100%; height: auto; text-align: left;}
.square0:after {   content: "";   display: block;   padding-bottom: auto;}
    .content0_gallery_box { width: 100%; height: auto; margin:0; padding:0; background-color: none; }
    .content0_gallery_box li {display: inline-block;}

/*갤러리*/
.content0_gallery_box .gallery { width: 18.25%; margin-right:2%; margin-bottom:2%;}
    .content0_gallery_box > li:nth-child(5n+0) { margin-right:0; float:right;}
    .content0_gallery_box li a {color:#000; text-decoration: none;}
    .content0_gallery_box li a:hover {color:rgba(0,0,0,0.75);}
    .content0_gallery_box li a:active {color:rgba(0,0,0,0.75);}
    .content0_gallery_box > li:last-child {margin-bottom:5%;}

    /*썸네일*/
    .content0_gallery_box .gallery .gallery_thumnail {display: inline-block; width: 100%; height:0; padding-bottom:100%; background-color: #f1f1f1; overflow: hidden;}
        .content0_gallery_box .gallery .gallery_thumnail img {width: 100%; display: block;}
    /*제목*/
    .content0_gallery_box .gallery .gallery_title {display: inline-block; width: calc(100% - 2em); padding-left:1em ; 
                            white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
                            font-weight: bold;  }

    /*프로필 사진 이름*/
    .content0_gallery_box .gallery .gallery_profile  {display: inline-block; width: 100%; padding-left:1em;}

        .content0_gallery_box .gallery .gallery_profile_photo  {display: inline-block; width:40px; height:40px; border-radius:50px; background-color: #f1f1f1;
            background-image: url(../images/user_profile.png); background-repeat: no-repeat; background-size:100%; overflow: hidden;}
            .content0_gallery_box .gallery .gallery_profile_photo > img {width: 100%; height:100%; border-radius: 50px;  display: block; }

        .content0_gallery_box .gallery .gallery_profile_username {display: inline-block; width:60%; padding-left:1em ;  
                                                                white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
            .content0_gallery_box .gallery .gallery_profile_username span {height:40px; line-height:40px; }

    /*조회 좋아요 댓글*/
    .content0_gallery_box .gallery .gallery_footer ul {width: 100%; box-sizing:border-box; border:none; margin:0; padding:0;}
    .content0_gallery_box .gallery .gallery_footer ul li {display:inline-block; width:32.7%; height:5em; line-height:5em; text-align:center; }
    .content0_gallery_box .gallery .gallery_footer ul li span {padding-left:1em ;}