/************************************************************************ 갤러리/피드 *****************************************************************************/
#galleryfeed { position: relative; clear:both; top:68px; height:auto;}

.square0 {padding-top:88px;}